@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alegreya Sans", sans-serif;
}

.gap-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #121212;
}

.chat-container {
  flex: 1;
  width: 100%;
  height: 100%;
}

.chat-container .head-box .title p {
  font-size: 72px;
  background: linear-gradient(to right, #1a6dff, #c822ff);
  background: -webkit-linear-gradient(#1a6dff, #c822ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-container .list-box {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.chat-container .list-box::-webkit-scrollbar {
  display: none;
}

.chat-container .list-box .list-wrapper.user-list {
  background-color: #191919;
}

.chat-container .list-box .list-wrapper.bot-list {
  background-color: #1f1f1f;
}

.chat-container .list-box .list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.chat-container .list-box .list.chg-flex-top {
  align-items: flex-start;
}

.chat-container .list-box .list .profile-box {
  min-width: 50px;
}

.chat-container .list-box .list .profile-box img {
  height: 40px;
}

.chat-container .list-box .list .info-box {
  color: #ffffff;
}

.chat-container .list-box .list .info-box p {
  color: #ffffff;
  font-weight: 500;
  white-space: pre-wrap;
}

.chat-container .form-wrapper {
  background: linear-gradient(to right, #1a6dff, #c822ff, #1a6dff, #c822ff);
  padding: 1px;
  margin-top: 20px;
}

.chat-container form {
  width: 100%;
  padding: 10px;
  background: #1f1f1f;
  gap: 10px;
}

.chat-container form textarea {
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.chat-container form button {
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.chat-container form button:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.chat-container form button img {
  height: 40px;
}

/* responsive  */
@media (max-width: 1240px) {
  .gap-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .gap-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
